body, html {
    height: 100%;
    margin: 0px 0px;
}
.main {
    height: 100%;
    border: solid black;
}
.head {
    height: 80px;
    border: solid black;
    margin: 5px 5px 5px 5px;
    display: flex;
}
.logo {
    height: 70px;
    width: 6%;
    border: solid black;
    margin: 2px 2px;
    display: inline-block;
}
.lib-name {
    border: solid black;
    display: inline-flex;
    margin: 2px 2px;
    height: 70px;
    width: 80%;
}
.user-name {
    border: solid black;
    display: inline-flex;
    height: 70px;
    width: 13%;
    margin: 2px 2px;
}
.container {
    height: 84%;
    border: solid black;
    margin: 10px 5px 5px 5px;
    display: flex;
}
.sidebar {
    height: 98%;
    width: 20%;
    margin: 2px 2px;
    border: solid black;
    display: inline-flex;
}
.show-case {
    height: 98%;
    width: 78.5%;
    margin: 2px 2px;
    border: solid black;
    display: inline-flex;
}